@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Webintegrator Administration</h1>
    <p class="lead">Velkommen!</p>
    <p><a href="@Url.Action("Index","ServerUser",null)" class="btn btn-primary btn-lg">Gå til brugeradministration &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h2>Nyhed 1</h2>
            <p>
                Cupcake ipsum dolor sit amet. Wafer lollipop caramels I love. Icing sesame snaps gummi bears. Carrot cake wafer marshmallow topping caramels I love marzipan liquorice sweet roll. I love croissant jelly beans icing apple pie muffin. Lemon drops ice cream cupcake dessert carrot cake danish pastry tart. 
            </p>
            <p><a class="btn btn-info" href="#">Læs videre</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Nyhed 2</h2>
            <p>Cupcake ipsum dolor sit amet. Wafer lollipop caramels I love. Icing sesame snaps gummi bears. Carrot cake wafer marshmallow topping caramels I love marzipan liquorice sweet roll. I love croissant jelly beans icing apple pie muffin. Lemon drops ice cream cupcake dessert carrot cake danish pastry tart. </p>
            <p><a class="btn btn-info" href="#">Læs videre</a></p>
        </div>
        </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Nyhed 3</h2>
            <p>Cupcake ipsum dolor sit amet. Wafer lollipop caramels I love. Icing sesame snaps gummi bears. Carrot cake wafer marshmallow topping caramels I love marzipan liquorice sweet roll. I love croissant jelly beans icing apple pie muffin. Lemon drops ice cream cupcake dessert carrot cake danish pastry tart. </p>
            <p><a class="btn btn-info" href="#">Læs videre</a></p>
        </div>
        </div>
</div>